@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
    <title>@Model.Content.GetProperty("title").Value.ToString()</title>
    <script src="~/Content/scripts/jquery-1.11.3.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    @RenderBody()
</body>
</html>